body {
  background-color: rgb(255, 244, 195);
}

.App {
  display: flex;
  justify-content: space-around;
}

.err {
  color: red;
  font-weight: bold;
  font-size: 25px;
}

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15em;
  column-gap: 10px;
  overflow: auto;
  height: 70vh;
}

.movies figure {
  text-align: center;
  min-width: 10px;
  min-height: 10px;
}
.movies img {
  width: 180px;
  height: 210px;
}

.weatherData {
  width: 150px;
  height: 100px;
  background-color: rgba(170, 250, 160, 0.521);
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  border-radius: 10px;
  padding: 5px;
}

.weather2 {
  width: 40%;
}
